#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    z-index: 100;
    transition: bottom 0.3s;
}

#whatsapp:hover {
    bottom: 25px;
}