*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #c39a7a  #885e43 #1f1d1b #dbd0c5*/
body{ 
    background-color: #dbd0c5;  
}

.geral{
    width: 100%;
    height: 100%;
}

/* HEADER */


header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    justify-content:space-between;    
    border-radius: 0 0 15px 15px;
    background-color: #c39a7a;
}


nav > .linksnav > ul{
    display: flex;

}
nav > .linksnav > ul > li{
    list-style: none;
    text-align: center;
}

nav > .linksnav > ul > li + li{
    border-left: 2px solid black;
}

nav > .linksnav > ul > li > a{
    text-decoration: none;
    color: black;
    padding: 15px 20px;
}

nav > .linksnav > ul > li > a:hover{
    color: #ffd700;
    transition: 0.5s;
    text-shadow: 3px 3px 5px black;
    border-bottom: 1px solid #ffd700;
}
/* MAIN */

.principal{
    padding-top: 20px;
    margin: auto;
    height: 100%;
    width: 80%;
    border-radius: 15px;

}


.principal > .background_image{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 430px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
  }

  .principal > .background_image> img{
    width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

.principal > .background_image:hover > img{
    -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.principal > .sobrenos{
    display: flex;
    color: white;
    background-color: black;
    border-radius: 15px;
}


.principal > .sobrenos > .sobrenos_text {
    margin: 20px;
    width: 450px;
}


.principal >  .sobrenos > .sobrenos_text > h1{
    margin-left: 10px;
    text-align: start;
    margin-bottom: 20px;
    font-size: 46px;
}

.principal >  .sobrenos > .sobrenos_text > p{
    text-align: center;
    margin-bottom: 10px;

}

#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;

    border-radius: 50px;
    text-align: center;
    z-index: 100;
    transition: bottom 0.3s;
}

#whatsapp:hover {
    bottom: 25px;
}

/* FOOTER */

footer{
    width: 100%;
    height: 20%;
}
