@font-face {
    font-family: 'SIMPLIFICA';
    src: url(../fontes/SIMPLIFICA\ Typeface.ttf);
}

:root{
    --cinzaescuro--:rgb(31, 29, 27);
    --violeta--:#5E17EB;
    --roxoescuro--:#3b0d96;
    --roxoclaro--:#8F5FEE;
    --roxo--:#A100B8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-color: white;  
    font-family: 'Roboto', sans-serif;

}

.geral{
    width: 100%;
    height: 100%;
}
/*---------barra de rolagem--------------*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #5E17EB;
}
/*---------------------------------------*/


/* MAIN */
.principal{
    margin: auto;
    height: 100%;
    width: 100%;
}

/* Inicio */

.fundo_apresenta_kitnets {
    width: 100%;
    height: 500px;
    display: flex;
    background-image: url(../imagens/Captura\ de\ tela\ 2023-06-06\ 091918.png);
    background-repeat:no-repeat ;
    background-size:cover;
    background-position: center;
    justify-content: center;
    position: relative;
}

.overlay_fundo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 0;
}

.fundo_apresenta_kitnets > .apresenta_kitnets {
    width: 80%;
    display: flex;
    justify-content:end;
    align-items: center;
    z-index: 1;
}


.apresenta_kitnets > .conteudo_apresenta{
    color: var(--cinzaescuro--);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 80px;
    width: fit-content;
}

.texto_apresenta{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    white-space: nowrap;

} 

.container_btn > .btn_vermais{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 40px;
    background-color: var(--violeta--);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    white-space: nowrap;
    transition: 1s;
    border-radius: 16px;
    font-weight: 500;
}

.btn_vermais:hover{
    background-color: var(--roxoescuro--);

}

.apresenta_kitnets > .img_apresenta_kitnets{
    width: 100%;
    height: 100%;
    display: flex;

}

.apresenta_kitnets > .img_apresenta_kitnets > img{
    width: 100%;
    height: 100%;
}


/* Parte kitnets */
.parte_kitnets_aberto{
    width: 100%;
    height: 400px;
    background-color: #f1f1f1;
    display: none;
}

.espaçamento{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
}
.conteudo_slide{
    width: 80%;
    overflow: hidden;
}

.card_kitnet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.kitnet6{
    text-align: center;
}

.kitnet6 > .card_image{
    border: 3px solid var(--roxoclaro--);
    background-color: #FFF;
    height: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.conteudo_card{
    background-color: #8F5FEE;
    width: 90%;
    border-radius: 25px;
    padding-bottom: 10px;
}
.card_image{
    margin: auto;
    width: 100%;
    height: 200px;
    border-radius: 25px 25px 0 0;
}

.card_image img{
    border-radius: 25px 25px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card_txt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 15px;
}

.button_card{
    white-space: nowrap;
    color: white;
    background-color: #3b0d96;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.swiper-navBtn{
    color: var(--roxoclaro--);
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: var(--roxoescuro--);

}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}

.swiper-pagination-bullet{
    background: var(--violeta--);
}

@media screen and (max-width: 750px){

    .swiper-navBtn{
        display: none;
    }
}
/*Localização*/
.fundo_localizacao{
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.conteudo_localizacao{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 90%;
}
.txt_localizacao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
}

.txt_localizacao > h1{
    margin-bottom: 15px;
}

.txt_localizacao > h3{
    margin-bottom: 15px;
}

.maps_localizacao{
    border-radius: 20px;
    width: 100%;
    height: 300px;
    margin: 20px 0;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.maps_localizacao iframe{
    border-radius: 20px;

}

/*---------------Sobre a empresa----------------*/

.sobre_nos{
    background-color: #f1f1f1;
    padding: 10px 0;
}

.conteudo_sobrenos{
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 90%;
    display: flex;
}

.txt_sobrenos{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    background-color:#a77ff7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 40%;
    height: 300px;
}

.txt_sobrenos h2{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

.txt_sobrenos P{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

/*----------carrosel sobrenos----------------*/

.carousel {
    border-radius: 20px;
    width: 60%;
    margin: 20px;
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height:300px; /*ajustar altura da caixa*/
    display: flex;
    align-items:center ;
    justify-content: center;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.7s ease-out;
    transition: opacity 0.7s ease-out;
}

.carousel-item img {
    object-fit: cover;
    display: block;

    width: 100%;
}

.carousel-control {
    background: rgba(255, 255, 255, 0.328);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
  user-select: none;
}

.carousel-control.next {
    right: 2%;
  user-select: none;
}

.carousel-control:hover {
    background:  var(--roxoclaro--);
    color: white;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    cursor: pointer;
    display: block;
    font-size: 35px;
    padding:0 10px;
    color: var(--roxoescuro--);
    opacity: .2;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: var(--roxoescuro--);
    opacity: 1;
}

/* Missao visao valores */

.fundo_mvv{
    width: 100%;
    background-color: var(--roxoescuro--);
}


.mis_vis_val{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introd{
    gap: 25px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 20px;
    box-sizing: content-box;
}

.title_mvv{
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #a77ff7;
    text-shadow: 2px 2px 10px #5E17EB;
}

.card{
    font-size: 18px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 20px #8F5FEE;
    padding: 20px 0;
    box-sizing: content-box;
    border-radius:20px;
}

.container_img_mis{
    width: 250px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius:20px;
}
.container_img_mis img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.container_img_mis_direita{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    border-radius:20px;
}

.container_img_mis_direita img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.container_txt_mis{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.txt_card_mvv{
    line-height: 20px;

}

.list_card_mvv{
    gap: 8px;
    height: 70%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


/* whatsapp */

#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    text-align: center;
    z-index: 10;
    transition: bottom 0.3s;
}

#whatsapp:hover {
    bottom: 25px;
}
/*modo escuro*/


.btn
{
    width: 60px;
    height: 30px;
    border: 2px solid var(--roxoclaro--);
    border-radius: 40px;
    position: absolute;
    cursor: pointer;
    right: 1rem;

}

.btn_active{
    background-color : #1a1a1a;
    color: white;
}

.btn:before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--roxoclaro--);
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: left .5s;
}

.btn.active:before
{
    left: 30px;
    transform: translateY(-50%);
}
.active{
    background-color : #1a1a1a;
    color: white;
}